
<script src="/assets/vendors/hm/hm.js"></script>
<script src="/assets/vendors/hm/jquery.collapse-modal.js"></script>
<script src="/assets/js/collapse_layouts.js"></script>

<script>

</script>
</body>
</html>